@import "tailwindcss";

:root {
  --background: #0A0A0A;
  --foreground: #FFFFFF;
  --text-secondary: #C7C7C7;
  --background-secondary: #484848;
  --accent: #D3E97A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-secondary: var(--text-secondary);
  --color-background-secondary: var(--background-secondary);
  --color-accent: var(--accent);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta), sans-serif;
}
html {
  scroll-behavior: smooth;
}